.logo-home{
    font-size: 100px !important;
    position: relative;
    top: 200px;
}

.home{
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.home-title{
    position: relative;
    top: 220px;
    font-size: 25px;
    font-weight: 600;
}