@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: Comfortaa;
    src: url(../../fonts/Comfortaa/Comfortaa-Medium.ttf);
}